
body{
	background: #fff;	
}
.container{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	background: #fff;
}
.blue{
	background: #4e4eda;
	
}
.blue-n{
	background: #626298;
	
}
.blue-l{
	background: #8a8aec;
}


.one{
	width: 33.33%;
	height: 200px;
	float: left;
	padding: 1px;
	border: 1px solid #fff;
	box-sizing: border-box;

}
p{
	margin: 0 auto;
	text-align: center;
}
	



.two{width: 50%;
	height: 200px;
	float: left;
	padding: 1px;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.three{width: 16.67%;
	height: 200px;
	float: left;
	padding: 1px;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.four{width: 66.66%;
	height: 200px;
	float: left;
	padding: 1px;
	border: 1px solid #fff;
	box-sizing: border-box;
}